services:
    web:
        build: .
        restart: always
        ports:
            - "8080:8080"
    postgres-db:
        image: postgres:14.19-alpine3.21
        restart: always
        environment:
            POSTGRES_DB: postgres
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            PGDATA: /var/lib/postgresql/data
        volumes:
            - postgres-db-data:/var/lib/postgresql/data
        ports:
            - "5432:5432"
volumes:
    web:
    postgres-db-data:
