services:
    web:
        build: .
        restart: always
        ports:
            - "8081:8080"
        depends_on:
            postgres-db:
                condition: service_healthy
    postgres-db:
        image: postgres:14.19-alpine3.21
        restart: always
        environment:
            POSTGRES_DB: postgres
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            PGDATA: /var/lib/postgresql/data
        volumes:
            - postgres-db-data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
            interval: 5s
            timeout: 5s
            retries: 5
            start_period: 10s
volumes:
    web:
    postgres-db-data:
